on post-fs-data
    write /proc/sys/kernel/sched_boost 1

    write /sys/class/net/rmnet0/queues/rx-0/rps_cpus 10

    # Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 81250

    # HMP scheduler load tracking settings
    write /proc/sys/kernel/sched_window_stats_policy 3
    write /proc/sys/kernel/sched_ravg_hist_size 5

    # HMP Task packing settings for 8939, 8929
    write /proc/sys/kernel/sched_small_task 20
    write /proc/sys/kernel/sched_mostly_idle_load 30
    write /proc/sys/kernel/sched_mostly_idle_nr_run 3

    write /sys/class/devfreq/qcom,cpubw.64/governor "bw_hwmon"
    write /sys/class/devfreq/qcom,cpubw.64/bw_hwmon/io_percent 20
    write /sys/class/devfreq/qcom,gpubw.61/governor "bw_hwmon"
    write /sys/class/devfreq/qcom,gpubw.61/bw_hwmon/io_percent 40
    write /sys/class/devfreq/qcom,mincpubw.65/governor "cpufreq"

    write /sys/module/lpm_levels/parameters/sleep_disabled 0

    # disable thermal core_control to update interactive gov settings
    write /sys/module/msm_thermal/core_control/enabled 0

    # bring all CPUs online
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # enable governor for perf cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "20000"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 1113600
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "80 800000:80 960000:80 1113600:85 1344000:90"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 50000

    # enable governor for power cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "25000"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 1209600
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "80 800000:80 1209600:95"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 40000

    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown root system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 800000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 800000

    chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0444 /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq
    chmod 0444 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
    chmod 0444 /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq
    chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chmod 0444 /sys/devices/system/cpu/cpu5/cpufreq/scaling_min_freq
    chmod 0444 /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq
    chmod 0444 /sys/devices/system/cpu/cpu7/cpufreq/scaling_min_freq

    # enable thermal core_control now
    write /sys/module/msm_thermal/core_control/enabled 1

    # HMP scheduler (big.Little cluster related) settings
    write /proc/sys/kernel/sched_upmigrate 75
    write /proc/sys/kernel/sched_downmigrate 60

    # Per-process reclaim
    write /sys/module/process_reclaim/parameters/enable_process_reclaim 1
    write /sys/module/process_reclaim/parameters/pressure_min 10
    write /sys/module/process_reclaim/parameters/per_swap_size 1024
    write /sys/module/process_reclaim/parameters/pressure_max 70
    write /sys/module/process_reclaim/parameters/swap_opt_eff 30

    rm /data/system/perfd/default_values
    start perfd

    insmod /system/lib/modules/core_ctl.ko
    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus "1"
    write /sys/devices/system/cpu/cpu0/core_ctl/max_cpus "4"
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_up_thres "50 50 70 80"
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_down_thres "30 30 30 30"
    write /sys/devices/system/cpu/cpu0/core_ctl/offline_delay_ms "100"

    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus "1"
    write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus "4"
    write /sys/devices/system/cpu/cpu4/core_ctl/busy_up_thres "30 30 30 50"
    write /sys/devices/system/cpu/cpu4/core_ctl/busy_down_thres "10 10 10 10"
    write /sys/devices/system/cpu/cpu4/core_ctl/offline_delay_ms "100"

on charger
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"

on class_start:late_start
    trigger enable-low-power

on property:init.svc.recovery=running
    trigger enable-low-power

on property:dev.bootcomplete=1
    setprop sys.io.scheduler bfq
